{{ $baseurl := .Site.BaseURL }}
{{ partial "header_post.html" . }}
<main id="content">

<article id="{{ .Slug }}" class="{{ .Type }}">
    <div class="post-stamp">
        <a id="logo" href="{{ .Site.BaseURL }}"><img src="/img/c_brain.svg" alt="{{ .Site.Title }}" height = "25" width = "25" /></a>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Format "2 Jan 2006" }}
        </time>
        
         <span class="catlist">
        {{if .Params.categories }}
        &middot;
        {{ range $index, $categories := .Params.categories }}
            <a href="{{ $baseurl }}categories/{{ $categories | urlize }}/">{{ $categories }}</a>
        {{ end }}
        {{ end }}
        </span>
        
        <span class="taglist">
        {{if .Params.tags }}
        &middot;
        {{ range $index, $tag := .Params.tags }}
            <a href="{{ $baseurl }}tags/{{ $tag | urlize }}/">{{ $tag }}</a>
        {{ end }}
        {{ end }}
        </span>
        
    </div>
    <h1 class="post-title">{{ .Title }}</h1>
    {{ partial "share.html" . }}
    {{ .Content }}
</article>

</main>
{{ partial "footer_post.html" . }}
